    	<ul style="float:left; list-style: none; width: 25%;padding-left: 3%;">
			<li id="nav-list" style="background:none;" href="#">External links</li>
			<a href="#" class="nav-listhref" ><li id="nav-list" href="#">- GameJolt</li></a>
			<a href="#" class="nav-listhref" ><li id="nav-list" href="#">- Itch.io</li></a>
			<a href="#" class="nav-listhref" ><li id="nav-list" href="#">- YouTube</li></a>
		</ul>
		<ul style="float:left; list-style: none; width: 25%;padding-left: 6%;">
			<li id="nav-list" style="background:none;" href="#">Contact NMCM</li>
			<li id="nav-list" style="background:none;border-top: none;" href="#">GameJolt DMs</li>
			<li id="nav-list" style="background:none;border-top: none;" href="#">Discord: nmcmmain</li>

		</ul>
		<ul style="float:right; list-style: none;">
			<li id="nav-list" style="background:none;" href="#">NMCM</li>
			
			<li id="nav-list" style="background:none;" href="#">May 2024</li>
		</ul>


		<ul style="float:right;list-style: none;">
			<li><img src="/gfx/streak2.png" style="width: 120%; margin-left: -10%;margin-bottom: -4.3%;"></li>

		</ul>