      	<ul>
      		<li id="nav-list" style="margin-left:-38%; background:linear-gradient(90deg,#1b9db0,#7ce0e6, #7ce0e6,white); ">Advertisements</li>
      	</ul>

      	<img src = "/gfx/fakeads/ad2vert.gif" class="vert-ads" style="max-width: 100%;" />
		<ul>
      		<li id="nav-list" style="margin-left:-38%; background:linear-gradient(90deg,#1b9db0,#7ce0e6, #7ce0e6,white); ">Advertisements</li>
      	</ul>


      	<img src = "/gfx/fakeads/ad1vert.gif" class="vert-ads" style="max-width: 100%;" />


