<ul>
			  <li id="nav-list" style="background:none;" href="#">Featured Categories</li>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">Rival Ravage Updates</li></a>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">New Website!</li></a>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">Cancelled prototypes</li></a>
			</ul>

			<ul>

			  <li id="nav-list" style="background:none;" href="#">Rival Ravage Mod Repository</li>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">Map addons</li></a>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">Weapon reskins</li></a>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">Character reskins</li></a>
			</ul>
			<ul>
			  <li id="nav-list" style="background:none;" href="#">Rival Ravage Modding Tutorials</li>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">Modifying AI</li></a>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">Using GOLDSRC modding resources</li></a>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">Using the RR SDK</li></a>
			</ul>
			<ul>
			  <li id="nav-list" style="background:none;" href="#">Games by NMCM</li>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">Rival Ravage (2023)</li></a>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">The Liminal Scope (2022)</li></a>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">Dragon Duel (2020)</li></a>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">Ferrari Turbo Challenge (2014)</li></a>
			  <a href="#" class="nav-listhref" ><li id="nav-list" href="#">The Brawler (2014)</li></a>
			<a href="#" class="nav-listhref" ><li id="nav-list" href="#">Nintendo Retro Classic Pinball (2014)</li></a>
			<a href="#" class="nav-listhref" ><li id="nav-list" href="#">Medieval Conquest (2013)</li></a>
			<a href="#" class="nav-listhref" ><li id="nav-list" href="#">Unity Motors - Paradise Race v2 (2013)</li></a>
			</ul>

			<!--Topsites on navbar-->
			<div class="article-clump-cascade">
      			<a style="padding-left: 12px;">Top Sites</a>
      			<div id = "article-clump-cascade" style="text-align: center;">
      				<a style="text-align: left;">Useful websites on the information super-highway</a>
					<br><br>
					<a href="/xsh/_01/infosoosage.html"><img id = "topsites-minipromo-img" src = "/gfx/mini-promos/infosausage.png"></a>
					<br><br>
					<a href="#"><img id = "topsites-minipromo-img" src = "/gfx/mini-promos/infosausage.png"></a>
					<br><br>
					<a href="#"><img id = "topsites-minipromo-img" src = "/gfx/mini-promos/infosausage.png"></a>
					<br><br>


					<ul style=" list-style-type: none; margin-left: 0px;">
						<li></li>
						<li>VibeTribe</li>
						<li>BuzzPulse Teen Forums</li>
						

					</ul>
				</div>
      		</div>

